.App {
  text-align: center;
}

.section {
  height: 100vh;
  width: 100vw;
}

.u-d-flex {
  display: flex;
}

.u-flex-vertical {
  flex-direction: column;
}

.u-align-center {
  align-items: center;
}

.u-justify-center {
  justify-content: center;
}

.squareball {
  width: 50px;
  height: 50px;
  background-color: #AFFC41;
  border-radius: 0.25rem;
}

.controls-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #2D2D2D;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
  color: white;
} 

.controls-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.controls-bottom {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.control {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D2D2D;
  border: 1px solid #000;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: inset rgba(255, 255, 255, 0.18) 0px 1.5px 1px 0px,
              inset rgba(255, 255, 255, 0.12) 1px 0px 1px 0px,
              inset rgba(255, 255, 255, 0.1) 0px -1px 1px 0px;
  cursor: pointer;
}

.u-mt-3 {
  margin-top: 3em;
}

.arrow {
  display: inline;
}

.arrow.down {
  transform: rotate(180deg);
}